.login-signup{
    position: absolute;
    background-color: #fbf3f390;
    height: 100%;
    width: 100%;
    z-index: 3;
    display: grid;
}
.login-signup form{
    place-self: center;
    width: max(23vw,300px);
    color: rgb(29, 27, 27);
    background-color: rgb(212, 241, 250);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    font-size: 14px;
    border-radius: 10px;
    animation: FadeIn .5s;
}
.login-signup form .head{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}
.login-signup form .head p{
    cursor: pointer;
}
form .head h2{
    color: rgb(55, 52, 52);
}

form .input-filds input{
    width: 230px;
    border-radius: 10px;
    border: 1px solid #464343;
    background-color: transparent;
    height: 40px;
    margin: 5px 0px;
}
form button{
    height: 40px;
    width: 230px;
    background-color: tomato;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}
form .condition{
    margin: 10px 0px;
    display: flex;
    gap: 5px;
    padding-left: 10px;
}
.condition p{
    font-size: 10px;
}
.condition .condi span{
    font-size: 5px;
    color: blue;
}
form .input-filds input[type="text"]{
    padding-left: 10px;
}
form .input-filds input[type="password"]{
    padding-left: 10px;
}
u{
    color: rgb(101, 101, 231);
    cursor: pointer;
}